/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
    --bg: #282828;
    --fg: #ebdbb2;
}

i {
    /* color: rgb(115 130 175 / 95%); */
    margin-right: 8px;
}

body {
    color: var(--fg);
    overflow: hidden;
    font-size: 13px;
}

html,
body,
#root {
    height: 100%;
}

@keyframes flash {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

#root {
    border-bottom: 1px solid rgb(255 255 255 / 5%);
    background: rgba(28, 28, 28, 0);
    backdrop-filter: blur(6px);
}

.app {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    align-items: center;
    height: 100%;
    font-family: LiterationMono Nerd Font SemiBold, monospace;
    padding: 5px 1.5vw;
    background: rgba(28, 28, 28, 0.6);
    border: 2px solid var(--green);
    border-radius: 13px;
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.center {
    justify-self: center;
    font-size: 14px;
    margin-right: 5px;
}

.right {
    justify-content: end;
}

.date-color {
    color: var(--fg);
}

.logo,
.binding-mode,
.tiling-direction,
.network,
.memory,
.volume,
.cpu,
.cycle_count,
.battery {
    margin-right: 5px;
}

.network,
.cycle_count,
.uptime,
.memory,
.cpu,
.battery,
.weather {
    background: rgb(255 255 255 / 7%);
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
}

.audio {
    color: var(--aqua);
}

.volume {
    background: rgb(255 255 255 / 7%);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}


.btn {
    border: none;
    background: transparent;
    color: var(--fg);
    cursor: pointer;
}

.btn1 {
    border: none;
    background: transparent;
    color: var(--purple);
    cursor: pointer;
}


.workspaces {
    display: flex;
    align-items: center;
}

.workspace {
    background: rgb(255 255 255 / 6%);
    color: var(--fg);
    border: none;
    border-radius: 30px;
    cursor: pointer;

    &.displayed {
        background: rgb(255 255 255 / 15%);
    }

    &.focused,
    &:hover {
        background: var(--yellow);
        color: black;
        border: 1px solid red;
    }
}

.workspace:not(:nth-child(7)) {
    margin-right: 15px;
}

.binding-mode,
.tiling-direction {
    background: rgb(255 255 255 / 15%);
    color: var(--fg);
    border-radius: 10px;
    line-height: 1;
    padding: 4px 5px;
    border: 0;
    cursor: pointer;
}

.binding-mode {
    margin-right: 4px;
}

.orange {
    color: #fe8019;
}

.red {
    color: #cc241b;
}

.green {
    color: #98971a;
}

.cpu {
    color: #458588;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255 255 255 / 7%);
    border-radius: 10px;
    padding: 0px 8px;
    font-size: 12px;
    margin-right: 5px;
}


.stack-nw-speed {
    display: flex;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255 255 255 / 7%);
    border-radius: 10px;
    padding: 0px 8px;
    font-size: 12px;
    margin-right: 5px;
}

.cpu1 {
    color: var(--blue);
}

.cpu .high-usage {
    color: var(--purple);
    animation: flash 0.5s infinite;
}

.memory {
    color: violet;
}

.memory .high-usage {
    color: var(--purple);
    animation: flash 0.5s infinite;
}

.battery {
    position: relative;
}

.battery .charging-icon {
    position: absolute;
    font-size: 8px;
    left: 1px;
    top: 3px;
    color: rgb(255, 60, 0);
}

.cycle_count1 {
    color: var(--orange);
}

.uptime1 {
    color: var(--yellow);
}

.weather {
    color: var(--yellow);
}
